h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.robots {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
    
}


.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
	background-color:#5875a7;
} 

.eyes {
	display: flex
}

.head:hover {
	width: 300px;
	transition: 1s ease-in-out;
	background-color: #13f2a9;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
	background-color:#8ab3e1;
} 
.left_arm:hover{
	transform: rotate(270deg);
	background-color:
}
.right_arm { 
	margin-left: 10px; 
} 
.right_arm:hover {
	transform: rotate(-30deg);
}
.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
	transition: transform 2s;
	background-color: #49b5d4;
	z-index:10;
}
.torso:hover {
	transform:rotate(720deg);
	background-color:	#00f6ff;

}


.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	display: flex; 
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 

} 

.left_leg { 
	margin-left: 45px; 
	background-color:#73abd4;
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
	transform: rotate(20deg);
	transform: scale(1.4);
	
}

.right_leg { 
	margin-left: 30px; 
	background-color: #b2e1fd;
}

.right_leg:hover {
	transform: rotate(-30deg);

}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: #ffdc18;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 80px; 
	left: 40px; 
} 

.left_eye:hover {
	background-color:#ff8021;

}

.right_eye { 
	position: relative; 
	top: 80px; 
	left: 120px; 
}
.right_eye:hover {
	background-color:#ffc000;
}


h1 {
	font-weight: bold;
	font-size: 40px;
	color: darkmagenta;
	text-shadow: 1px 1px 2px plum;
	letter-spacing: .8em;
}



